@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter Light";
  src: url("/fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter Medium";
  src: url("/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-InterLight: "Inter Light";
  --font-InterMedium: "Inter Medium";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-InterLight {
  font-family: "Inter Light";
}

.font-InterMedium {
  font-family: "Inter Medium";
}

.faq-active-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.01) 0px 0.361312px 0.650362px -0.25px,
    rgba(0, 0, 0, 0.02) 0px 1.37312px 2.47162px -0.5px,
    rgba(0, 0, 0, 0.05) 0px 6px 10.8px -0.75px;
}
